In [43]:
d={u'2012-06-08': 388,
 u'2012-06-09': 388,
 u'2012-06-10': 388,
 u'2012-06-11': 389,
 u'2012-06-12': 389,
 u'2012-06-13': 389}

In [44]:
print type(d)

<type 'dict'>

In [45]:
import pandas as pd

In [46]:
pd.DataFrame(d.items())

            0    1
0  2012-06-12  389
1  2012-06-13  389
2  2012-06-10  388
3  2012-06-11  389
4  2012-06-09  388
5  2012-06-08  388

# dict to dataframe

pd.DataFrame(d.items(), columns=['Date', 'DateValue'])

# dict to series

In [47]:
s = pd.Series(d, name='DateValue')
print s
print "----"*10
print s.name

2012-06-08    388
2012-06-09    388
2012-06-10    388
2012-06-11    389
2012-06-12    389
2012-06-13    389
Name: DateValue, dtype: int64
----------------------------------------
DateValue

In [48]:
print s.index.name

None

In [49]:
s.index.name = 'Date'
s.reset_index()

         Date  DateValue
0  2012-06-08        388
1  2012-06-09        388
2  2012-06-10        388
3  2012-06-11        389
4  2012-06-12        389
5  2012-06-13        389

In [50]:
print s.index.name

Date

In [51]:
print s[0]
print "---"*10
print s[:]
print "---"*10
print s.get('DateValue')

388
------------------------------
Date
2012-06-08    388
2012-06-09    388
2012-06-10    388
2012-06-11    389
2012-06-12    389
2012-06-13    389
Name: DateValue, dtype: int64
------------------------------
None

In [52]:
df1=pd.DataFrame(s)
print df1

            DateValue
Date
2012-06-08        388
2012-06-09        388
2012-06-10        388
2012-06-11        389
2012-06-12        389
2012-06-13        389

In [54]:
print df1['DateValue']

Date
2012-06-08    388
2012-06-09    388
2012-06-10    388
2012-06-11    389
2012-06-12    389
2012-06-13    389
Name: DateValue, dtype: int64