# Practicing Series, Pandas-slicing

http://pandas.pydata.org/pandas-docs/stable/indexing.html

In [2]:
import pandas as pd
import numpy as np


dates = pd.date_range('1/1/2000', periods=8)
df = pd.DataFrame(np.random.randn(8, 4), index=dates, columns=['A', 'B', 'C', 'D'])

In [3]:
df

                   A         B         C         D
2000-01-01 -1.180394  1.943290  0.435310 -0.835567
2000-01-02 -0.318680  1.608150  1.495804  1.256425
2000-01-03  1.160471  0.782343 -0.161374 -0.435937
2000-01-04  0.814224 -1.500737 -0.053018  0.000050
2000-01-05  0.472603 -0.309349 -0.340446 -1.505784
2000-01-06 -0.694706  0.552004 -1.178444 -1.673268
2000-01-07  0.231322 -0.127297 -0.414884  0.628398
2000-01-08  0.292985 -0.092807  0.479469  1.919549

In [4]:
panel = pd.Panel({'one' : df, 'two' : df - df.mean()})

In [5]:
panel

<class 'pandas.core.panel.Panel'>
Dimensions: 2 (items) x 8 (major_axis) x 4 (minor_axis)
Items axis: one to two
Major_axis axis: 2000-01-01 00:00:00 to 2000-01-08 00:00:00
Minor_axis axis: A to D

In [8]:
s = df['A']
print "s---\n",s

s---
2000-01-01   -1.180394
2000-01-02   -0.318680
2000-01-03    1.160471
2000-01-04    0.814224
2000-01-05    0.472603
2000-01-06   -0.694706
2000-01-07    0.231322
2000-01-08    0.292985
Freq: D, Name: A, dtype: float64

In [9]:
s[dates[5]]

-0.69470605703762678

In [10]:
panel['two']

                   A         B         C         D
2000-01-01 -1.277622  1.586340  0.402508 -0.754800
2000-01-02 -0.415908  1.251201  1.463002  1.337192
2000-01-03  1.063243  0.425393 -0.194176 -0.355171
2000-01-04  0.716996 -1.857686 -0.085820  0.080817
2000-01-05  0.375375 -0.666299 -0.373248 -1.425018
2000-01-06 -0.791934  0.195055 -1.211246 -1.592501
2000-01-07  0.134093 -0.484247 -0.447686  0.709165
2000-01-08  0.195757 -0.449756  0.446667  2.000316

In [11]:
df

                   A         B         C         D
2000-01-01 -1.180394  1.943290  0.435310 -0.835567
2000-01-02 -0.318680  1.608150  1.495804  1.256425
2000-01-03  1.160471  0.782343 -0.161374 -0.435937
2000-01-04  0.814224 -1.500737 -0.053018  0.000050
2000-01-05  0.472603 -0.309349 -0.340446 -1.505784
2000-01-06 -0.694706  0.552004 -1.178444 -1.673268
2000-01-07  0.231322 -0.127297 -0.414884  0.628398
2000-01-08  0.292985 -0.092807  0.479469  1.919549

In [12]:
df[['B', 'A']] = df[['A', 'B']]
df

                   A         B         C         D
2000-01-01  1.943290 -1.180394  0.435310 -0.835567
2000-01-02  1.608150 -0.318680  1.495804  1.256425
2000-01-03  0.782343  1.160471 -0.161374 -0.435937
2000-01-04 -1.500737  0.814224 -0.053018  0.000050
2000-01-05 -0.309349  0.472603 -0.340446 -1.505784
2000-01-06  0.552004 -0.694706 -1.178444 -1.673268
2000-01-07 -0.127297  0.231322 -0.414884  0.628398
2000-01-08 -0.092807  0.292985  0.479469  1.919549

In [13]:
df[['A', 'B']]

                   A         B
2000-01-01  1.943290 -1.180394
2000-01-02  1.608150 -0.318680
2000-01-03  0.782343  1.160471
2000-01-04 -1.500737  0.814224
2000-01-05 -0.309349  0.472603
2000-01-06  0.552004 -0.694706
2000-01-07 -0.127297  0.231322
2000-01-08 -0.092807  0.292985

In [14]:
df.loc[:,['B', 'A']] = df[['A', 'B']].values
df[['A', 'B']]

                   A         B
2000-01-01 -1.180394  1.943290
2000-01-02 -0.318680  1.608150
2000-01-03  1.160471  0.782343
2000-01-04  0.814224 -1.500737
2000-01-05  0.472603 -0.309349
2000-01-06 -0.694706  0.552004
2000-01-07  0.231322 -0.127297
2000-01-08  0.292985 -0.092807

In [15]:
sa = pd.Series([1,2,3],index=list('abc'))
dfa = df.copy()

In [16]:
sa

a    1
b    2
c    3
dtype: int64

In [18]:
print sa.b
print "--"*10
print dfa.A
print "--"*10
print panel.one

2
--------------------
2000-01-01   -1.180394
2000-01-02   -0.318680
2000-01-03    1.160471
2000-01-04    0.814224
2000-01-05    0.472603
2000-01-06   -0.694706
2000-01-07    0.231322
2000-01-08    0.292985
Freq: D, Name: A, dtype: float64
--------------------
                   A         B         C         D
2000-01-01 -1.180394  1.943290  0.435310 -0.835567
2000-01-02 -0.318680  1.608150  1.495804  1.256425
2000-01-03  1.160471  0.782343 -0.161374 -0.435937
2000-01-04  0.814224 -1.500737 -0.053018  0.000050
2000-01-05  0.472603 -0.309349 -0.340446 -1.505784
2000-01-06 -0.694706  0.552004 -1.178444 -1.673268
2000-01-07  0.231322 -0.127297 -0.414884  0.628398
2000-01-08  0.292985 -0.092807  0.479469  1.919549

In [21]:
dfa.A = list(range(len(dfa.index)))# ok if A already exists
print dfa.A

2000-01-01    0
2000-01-02    1
2000-01-03    2
2000-01-04    3
2000-01-05    4
2000-01-06    5
2000-01-07    6
2000-01-08    7
Freq: D, Name: A, dtype: int64

In [22]:
dfa['A'] = list(range(len(dfa.index))) # use this form to create a new column

In [23]:
x = pd.DataFrame({'x': [1, 2, 3], 'y': [3, 4, 5]})
print x

   x  y
0  1  3
1  2  4
2  3  5

In [24]:
x.iloc[1] = dict(x=9, y=99)
print x

   x   y
0  1   3
1  9  99
2  3   5

In [30]:
print "s-----\n",s
print "-"*10
print "s[:2]-----\n",s[:2] #every 2x
print "-"*10
print "s[::2]-----\n",s[::2]
print "-"*10
print "s[::-1]-----\n",s[::-1] #sorting in reversed order
print "-"*10

s-----
2000-01-01   -1.180394
2000-01-02   -0.318680
2000-01-03    1.160471
2000-01-04    0.814224
2000-01-05    0.472603
2000-01-06   -0.694706
2000-01-07    0.231322
2000-01-08    0.292985
Freq: D, Name: A, dtype: float64
----------
s[:2]-----
2000-01-01   -1.180394
2000-01-02   -0.318680
Freq: D, Name: A, dtype: float64
----------
s[::2]-----
2000-01-01   -1.180394
2000-01-03    1.160471
2000-01-05    0.472603
2000-01-07    0.231322
Freq: 2D, Name: A, dtype: float64
----------
s[::-1]-----
2000-01-08    0.292985
2000-01-07    0.231322
2000-01-06   -0.694706
2000-01-05    0.472603
2000-01-04    0.814224
2000-01-03    1.160471
2000-01-02   -0.318680
2000-01-01   -1.180394
Freq: -1D, Name: A, dtype: float64
----------

In [31]:
s2 = s.copy()
s2[:5] = 0
print "s2-----\n",s2
print "-"*10

s2-----
2000-01-01    0.000000
2000-01-02    0.000000
2000-01-03    0.000000
2000-01-04    0.000000
2000-01-05    0.000000
2000-01-06   -0.694706
2000-01-07    0.231322
2000-01-08    0.292985
Freq: D, Name: A, dtype: float64
----------

In [32]:
print "df[:3]-----\n",df[:3] #slicing inside of DataFrame, [] slices the rows. 
print "-"*10

df[:3]-----
                   A         B         C         D
2000-01-01 -1.180394  1.943290  0.435310 -0.835567
2000-01-02 -0.318680  1.608150  1.495804  1.256425
2000-01-03  1.160471  0.782343 -0.161374 -0.435937
----------

In [38]:
dfl = pd.DataFrame(np.random.randn(5,4), columns=list('ABCD'), \
                   index=pd.date_range('20130101',periods=5))

In [39]:
print dfl

                   A         B         C         D
2013-01-01 -1.054078  0.510893 -0.913973  0.078886
2013-01-02 -0.909402  0.967807  0.885281  1.341765
2013-01-03 -1.579856  1.519548 -1.015283  0.087200
2013-01-04  0.113680 -0.362432  0.245328 -1.336767
2013-01-05  0.767799 -0.739740 -0.830456  0.898110

In [40]:
dfl.loc[2:3]

TypeError: cannot do slice indexing on <class 'pandas.tseries.index.DatetimeIndex'> with these indexers [2] of <type 'int'>

In [41]:
dfl.loc['20130102':'20130104']

                   A         B         C         D
2013-01-02 -0.909402  0.967807  0.885281  1.341765
2013-01-03 -1.579856  1.519548 -1.015283  0.087200
2013-01-04  0.113680 -0.362432  0.245328 -1.336767

In [42]:
s1 = pd.Series(np.random.randn(6),index=list('abcdef'))
s1

a    1.703495
b   -0.634324
c   -1.090800
d    3.253785
e    1.694070
f    0.203527
dtype: float64

In [43]:
s1.loc['c':]

c   -1.090800
d    3.253785
e    1.694070
f    0.203527
dtype: float64

In [44]:
s1.loc['b']

-0.63432418316747585

In [45]:
s1.loc['c':] = 0
s1

a    1.703495
b   -0.634324
c    0.000000
d    0.000000
e    0.000000
f    0.000000
dtype: float64

In [46]:
df1 = pd.DataFrame(np.random.randn(6,4),
   ....:                    index=list('abcdef'),
   ....:                    columns=list('ABCD'))

In [47]:
df1

          A         B         C         D
a  0.943312  1.009809 -1.085454 -0.726199
b -0.619806  0.281403  0.850666 -0.187601
c -0.672529  1.053787  0.835963  0.343071
d -0.390286  0.272930 -1.105451  1.225883
e -0.131761 -1.312928  0.369960 -0.858586
f -0.696307  0.968999  0.107540 -1.150185

In [48]:
df1.loc[['a', 'b', 'd'], :]

          A         B         C         D
a  0.943312  1.009809 -1.085454 -0.726199
b -0.619806  0.281403  0.850666 -0.187601
d -0.390286  0.272930 -1.105451  1.225883

In [49]:
df1.loc['d':, 'A':'C']

          A         B         C
d -0.390286  0.272930 -1.105451
e -0.131761 -1.312928  0.369960
f -0.696307  0.968999  0.107540

In [50]:
df1.loc['a']

A    0.943312
B    1.009809
C   -1.085454
D   -0.726199
Name: a, dtype: float64

In [51]:
df1.loc['a'] > 0

A     True
B     True
C    False
D    False
Name: a, dtype: bool

In [53]:
##########
##This is what I need-slice the column that has only value of interest
##########

df1.loc[:, df1.loc['a'] > 0]

          A         B
a  0.943312  1.009809
b -0.619806  0.281403
c -0.672529  1.053787
d -0.390286  0.272930
e -0.131761 -1.312928
f -0.696307  0.968999

In [57]:
df1.loc['a', 'A'] #(equiv to deprecated df.get_value('a','A'))

0.94331219043899284

In [55]:
s1 = pd.Series(np.random.randn(5), index=list(range(0,10,2)))
s1

0   -0.504346
2   -0.986435
4    0.392560
6   -0.342562
8    2.037698
dtype: float64

In [58]:
print "s1.iloc[3]--\n",s1.iloc[3]
print "s1.iloc[:3]--\n", s1.iloc[:3]

s1.iloc[3]--
-0.342561519427
s1.iloc[:3]--
0   -0.504346
2   -0.986435
4    0.392560
dtype: float64

In [59]:
s1.iloc[:3] = 0
s1

0    0.000000
2    0.000000
4    0.000000
6   -0.342562
8    2.037698
dtype: float64

In [60]:
df1 = pd.DataFrame(np.random.randn(6,4),
   ....:                    index=list(range(0,12,2)),
   ....:                    columns=list(range(0,8,2)))
   ....: 
dfl

                   A         B         C         D
2013-01-01 -1.054078  0.510893 -0.913973  0.078886
2013-01-02 -0.909402  0.967807  0.885281  1.341765
2013-01-03 -1.579856  1.519548 -1.015283  0.087200
2013-01-04  0.113680 -0.362432  0.245328 -1.336767
2013-01-05  0.767799 -0.739740 -0.830456  0.898110

In [61]:
df1.iloc[:3]

          0         2         4         6
0  0.814986 -0.478320 -0.226019  1.086460
2  1.022628 -1.288768  0.710848  0.742268
4 -1.028534 -0.269490 -1.039799  0.670062

In [62]:
df1.iloc[1:5, 2:4]

          4         6
2  0.710848  0.742268
4 -1.039799  0.670062
6  0.242605  0.250413
8  1.863425 -0.163032

In [64]:
df1.iloc[[1, 3, 5], [1, 3]]

           2         6
2  -1.288768  0.742268
6  -0.227844  0.250413
10 -0.664079 -0.173127

In [65]:
df1.iloc[1:3, :]

          0         2         4         6
2  1.022628 -1.288768  0.710848  0.742268
4 -1.028534 -0.269490 -1.039799  0.670062

In [66]:
df1.iloc[:, 1:3]

           2         4
0  -0.478320 -0.226019
2  -1.288768  0.710848
4  -0.269490 -1.039799
6  -0.227844  0.242605
8   0.351987  1.863425
10 -0.664079 -1.191385

In [67]:
df1.iloc[1, 1] ## this is also equivalent to ``df1.iat[1,1]``

-1.2887683767846794

In [68]:
df1.iat[1,1]

-1.2887683767846794

In [69]:
df1.iloc[1] #(equiv to df.xs(1))

0    1.022628
2   -1.288768
4    0.710848
6    0.742268
Name: 2, dtype: float64