In [1]:
import pandas as pd
import numpy as np

df=pd.DataFrame(np.random.randn(8,4), columns=['A','B','C','D'])
from IPython.display import display # Allows the use of display() for DataFrames
display(df)

          A         B         C         D
0 -1.056142 -0.526380 -1.135911  0.008770
1  0.373515  0.008721 -0.840300 -0.244096
2  1.295825  0.959123 -0.512163  0.123864
3 -0.333477  1.602679  1.122362  2.234422
4 -1.048204  1.031705  0.512349 -0.583249
5 -0.057951 -0.016289  1.287123  1.804564
6  2.338721 -0.007598  0.855377  0.466382
7 -1.209557  0.557530  0.213229  1.672566

In [9]:
#xs,ix[rowindexer] are the same 
s=df.xs(2)
display(s)
print "\n"
s_ix_row=df.ix[2] 
display(s_ix_row)

A   -0.892505
B    0.346045
C   -0.487208
D    0.687611
Name: 2, dtype: float64

A   -0.892505
B    0.346045
C   -0.487208
D    0.687611
Name: 2, dtype: float64

In [7]:
s_ix_col=df.ix[:,'B'] 
display(s_ix_col)

0    0.313977
1   -0.470391
2    0.346045
3    1.234306
4    0.106820
5   -1.686306
6   -0.637413
7    0.194634
Name: B, dtype: float64

In [10]:
#Appending a new row to dataframe
df.append(s)

          A         B         C         D
0 -0.435310  0.313977 -1.385878 -0.991826
1  0.443195 -0.470391 -0.534474 -0.668541
2 -0.892505  0.346045 -0.487208  0.687611
3  0.306953  1.234306  1.484615  1.013546
4  1.193094  0.106820  0.651044  1.650039
5 -1.213601 -1.686306  0.782637 -0.772344
6 -0.775631 -0.637413 -0.535214 -1.043716
7 -1.218183  0.194634  0.730464 -3.065086
2 -0.892505  0.346045 -0.487208  0.687611

In [13]:
s.name=len(df) #len(df)=8
df.append(s)

          A         B         C         D
0 -0.435310  0.313977 -1.385878 -0.991826
1  0.443195 -0.470391 -0.534474 -0.668541
2 -0.892505  0.346045 -0.487208  0.687611
3  0.306953  1.234306  1.484615  1.013546
4  1.193094  0.106820  0.651044  1.650039
5 -1.213601 -1.686306  0.782637 -0.772344
6 -0.775631 -0.637413 -0.535214 -1.043716
7 -1.218183  0.194634  0.730464 -3.065086
8 -0.892505  0.346045 -0.487208  0.687611

In [2]:
OPTIONAL: Select the indices for data points you wish to remove
    #Remove the outliers, if any were specified
    
    #Original: good_data = log_data.drop(log_data.index[outliers]).reset_index(drop = True)
    print "type log_data_pddf_colRenamed[feature]::", type(log_data_pddf_colRenamed[feature]) #this is new pd series.
    log_data_pddf_colRenamed[feature].drop(outlier_index_array) #this makes series. #.reset_index(drop = True)
    print "type after drop:", type(log_data_pddf_colRenamed[feature].drop(outlier_index_array)) #good_col_data_afterOutlierDrop[feature] = 
    #good_col_df_afterOutlierDrop[feature]=good_col_data_afterOutlierDrop[feature].to_frame()
    #print type(good_col_df_afterOutlierDrop[feature]) #Good upto here
    s[feature]=log_data_pddf_colRenamed[feature].drop(outlier_index_array)
    print "type s:", s[feature]
    #.merge(pdsr,)
    print "pdsr:\n", feature, pdsr
    #good_all_data_afterOutlierDrop=combine_df.append(dicts)
    #print good_all_data_afterOutlierDrop
    
    #result = df1.append(df4)
    #good_all_data_afterOutlierDrop=pd.concat(good_col_data_afterOutlierDrop, axis=1)
    #display(good_data_afterOutlierDrop)

#display(good_all_data_afterOutlierDrop)

SyntaxError: invalid syntax (<ipython-input-2-2b4d54c97ce8>, line 1)