In [1]:
import pandas as pd
import numpy as np

df=pd.DataFrame(np.random.randn(8,4), columns=['A','B','C','D'])
from IPython.display import display # Allows the use of display() for DataFrames
display(df)

          A         B         C         D
0 -0.435310  0.313977 -1.385878 -0.991826
1  0.443195 -0.470391 -0.534474 -0.668541
2 -0.892505  0.346045 -0.487208  0.687611
3  0.306953  1.234306  1.484615  1.013546
4  1.193094  0.106820  0.651044  1.650039
5 -1.213601 -1.686306  0.782637 -0.772344
6 -0.775631 -0.637413 -0.535214 -1.043716
7 -1.218183  0.194634  0.730464 -3.065086

In [9]:
#xs,ix[rowindexer] are the same 
s=df.xs(2)
display(s)
print "\n"
s_ix_row=df.ix[2] 
display(s_ix_row)

A   -0.892505
B    0.346045
C   -0.487208
D    0.687611
Name: 2, dtype: float64

A   -0.892505
B    0.346045
C   -0.487208
D    0.687611
Name: 2, dtype: float64

In [7]:
s_ix_col=df.ix[:,'B'] 
display(s_ix_col)

0    0.313977
1   -0.470391
2    0.346045
3    1.234306
4    0.106820
5   -1.686306
6   -0.637413
7    0.194634
Name: B, dtype: float64

In [10]:
#Appending a new row to dataframe
df.append(s)

          A         B         C         D
0 -0.435310  0.313977 -1.385878 -0.991826
1  0.443195 -0.470391 -0.534474 -0.668541
2 -0.892505  0.346045 -0.487208  0.687611
3  0.306953  1.234306  1.484615  1.013546
4  1.193094  0.106820  0.651044  1.650039
5 -1.213601 -1.686306  0.782637 -0.772344
6 -0.775631 -0.637413 -0.535214 -1.043716
7 -1.218183  0.194634  0.730464 -3.065086
2 -0.892505  0.346045 -0.487208  0.687611

In [13]:
s.name=len(df) #len(df)=8
df.append(s)

          A         B         C         D
0 -0.435310  0.313977 -1.385878 -0.991826
1  0.443195 -0.470391 -0.534474 -0.668541
2 -0.892505  0.346045 -0.487208  0.687611
3  0.306953  1.234306  1.484615  1.013546
4  1.193094  0.106820  0.651044  1.650039
5 -1.213601 -1.686306  0.782637 -0.772344
6 -0.775631 -0.637413 -0.535214 -1.043716
7 -1.218183  0.194634  0.730464 -3.065086
8 -0.892505  0.346045 -0.487208  0.687611