In [8]:
#https://www.quandl.com/docs/api#introduction

import pandas as pd
import numpy as np
from sklearn.model_selection import TimeSeriesSplit
import quandl 

quandl.ApiConfig.api_key = "sLiqYvGFsXyiE98ysSrq"

In [4]:
data = quandl.get("WIKI/INTC")
print data.head(1)

            Open  High   Low  Close   Volume  Ex-Dividend  Split Ratio  \
Date
1980-03-17  62.5  63.5  62.5   62.5  56900.0          0.0          1.0

            Adj. Open  Adj. High  Adj. Low  Adj. Close  Adj. Volume
Date
1980-03-17   0.220656   0.224187  0.220656    0.220656   10924800.0

In [6]:
data=quandl.get('WIKI/INTC', start_date="2016-01-01", end_date="2016-12-31", collapse="monthly", transform="diff")
print data.head(1)

            Open  High   Low  Close      Volume  Ex-Dividend  Split Ratio  \
Date
2016-02-29 -0.49 -0.89 -0.52  -1.43 -15408279.0          0.0          0.0

            Adj. Open  Adj. High  Adj. Low  Adj. Close  Adj. Volume
Date
2016-02-29  -0.217793  -0.598614 -0.247815   -1.122236  -15408279.0

In [45]:
data = quandl.get_table("ZACKS/FC", paginate=True,ticker="INTC")
print data.columns
data.head(1)

Index([u'm_ticker', u'ticker', u'comp_name', u'comp_name_2', u'exchange',
       u'currency_code', u'per_end_date', u'per_type', u'per_code',
       u'per_fisc_year',
       ...
       u'stock_based_compsn_qd', u'cash_flow_oper_activity_qd',
       u'net_change_prop_plant_equip_qd', u'comm_stock_div_paid_qd',
       u'pref_stock_div_paid_qd', u'tot_comm_pref_stock_div_qd',
       u'wavg_shares_out', u'wavg_shares_out_diluted', u'eps_basic_net',
       u'eps_diluted_net'],
      dtype='object', length=249)

,m_ticker,ticker,comp_name,comp_name_2,exchange,currency_code,per_end_date,per_type,per_code,per_fisc_year,...,stock_based_compsn_qd,cash_flow_oper_activity_qd,net_change_prop_plant_equip_qd,comm_stock_div_paid_qd,pref_stock_div_paid_qd,tot_comm_pref_stock_div_qd,wavg_shares_out,wavg_shares_out_diluted,eps_basic_net,eps_diluted_net
None,,,,,,,,,,,,,,,,,,,,,
0,ITL,INTC,INTEL CORP,Intel Corporation,NSDQ,USD,2011-12-31,A,None,2011,...,NaN,NaN,NaN,NaN,None,NaN,5256.0,5411.0,2.46,2.39

In [47]:
data = quandl.get_table("ZACKS/FC", paginate=True,ticker="INTC", 
                        per_end_date={'gte': '2015-01-01'}, 
                        qopts={'columns':['per_end_date', 'eps_basic_net', 'eps_diluted_net','wavg_shares_out','wavg_shares_out_diluted']})
data.head(5)

,per_end_date,eps_basic_net,eps_diluted_net,wavg_shares_out,wavg_shares_out_diluted
None,,,,,
0,2015-12-31,2.41,2.33,4742.0,4894.0
1,2016-12-31,2.18,2.12,4730.0,4875.0
2,2015-03-31,0.42,0.41,4741.0,4914.0
3,2015-06-30,0.57,0.55,4759.0,4909.0
4,2015-09-30,0.65,0.64,4747.0,4876.0

In [49]:
data = quandl.get_table("ZACKS/FE", ticker="INTC",per_end_date={'gte': '2015-01-01'}, 
                        qopts={'columns':['per_end_date', 'net_change_prop_plant_equip_qd', 
                                          'comm_stock_div_paid_qd','tot_comm_pref_stock_div_qd',
                                          'basic_net_eps','diluted_net_eps','diluted_net_eps', 
                                          'avg_d_shares', 'avg_b_shares']})
data.head(5)

,per_end_date,net_change_prop_plant_equip_qd,comm_stock_div_paid_qd,tot_comm_pref_stock_div_qd,basic_net_eps,diluted_net_eps,avg_d_shares,avg_b_shares
None,,,,,,,,
0,2015-12-31,NaN,NaN,NaN,2.41,2.33,4894.0,4742.0
1,2016-12-31,NaN,NaN,NaN,2.18,2.12,4875.0,4730.0
2,2015-03-31,-2025.0,-1137.0,-1137.0,0.42,0.41,4914.0,4741.0
3,2015-06-30,-1767.0,-1146.0,-1146.0,0.57,0.55,4909.0,4759.0
4,2015-09-30,-1206.0,-1140.0,-1140.0,0.65,0.64,4876.0,4747.0

In [59]:
data = quandl.get_table("ZACKS/FR", ticker="INTC",per_end_date={'gte': '2015-01-01'}, 
                        qopts={'columns':['per_end_date','invty_turn','rcv_turn',
                                          'day_sale_rcv', 'ret_equity','ret_tang_equity',
                                          'ret_asset','ret_invst','free_cash_flow_per_share', 
                                          'book_val_per_share','oper_cash_flow_per_share']})
data.head(2)

,per_end_date,invty_turn,rcv_turn,day_sale_rcv,ret_equity,ret_tang_equity,ret_asset,ret_invst,free_cash_flow_per_share,book_val_per_share,oper_cash_flow_per_share
None,,,,,,,,,,,
0,2015-12-31,4.0015,11.5636,31.5645,18.6953,24.9236,11.2558,14.0777,2.3888,12.9280,3.8858
1,2016-12-31,4.1772,12.6625,28.8253,15.5770,24.1972,9.1029,11.8745,2.4991,14.0013,4.4734

In [23]:
data = quandl.get_table("ZACKS/MT", ticker="INTC")
print data.head(10)

     m_ticker ticker   comp_name        comp_name_2 exchange currency_code  \
None
0         ITL   INTC  INTEL CORP  Intel Corporation     NSDQ           USD

     ticker_type active_ticker_flag              comp_url  sic_4_code  \
None
0              S                  Y  http://www.intel.com        3674

         ...     per_end_month_nbr  mr_split_date mr_split_factor    comp_cik  \
None     ...
0        ...                    12     2000-07-31             2.0  0000050863

     country_code   country_name comp_type  optionable_flag sp500_member_flag  \
None
0              US  UNITED STATES         1                Y                 Y

      asset_type
None
0            COM

[1 rows x 27 columns]

In [14]:
data = quandl.get("EOD/INTC")
print data.head(1)

            Open  High   Low  Close   Volume  Dividend  Split  Adj_Open  \
Date
1980-03-17  62.5  63.5  62.5   62.5  56900.0       0.0    1.0  0.220656

            Adj_High   Adj_Low  Adj_Close  Adj_Volume
Date
1980-03-17  0.224187  0.220656   0.220656  10924800.0

In [103]:
wiki_data = quandl.get("WIKI/INTC",start_date="2001-01-01", end_date="2016-12-31")
print wiki_data.head(10)
wiki_data.to_csv(path_or_buf='wiki_dta.csv')

             Open   High    Low  Close      Volume  Ex-Dividend  Split Ratio  \
Date
2001-01-02  30.69  31.88  30.25  31.06  50342900.0          0.0          1.0
2001-01-03  30.13  34.63  30.13  34.23  78291900.0          0.0          1.0
2001-01-04  34.00  35.38  32.69  33.80  68769000.0          0.0          1.0
2001-01-05  34.06  34.63  31.75  32.06  44974700.0          0.0          1.0
2001-01-08  31.50  32.31  30.63  31.94  45070800.0          0.0          1.0
2001-01-09  32.53  32.94  31.88  32.25  40814400.0          0.0          1.0
2001-01-10  31.63  33.38  31.13  33.00  51494300.0          0.0          1.0
2001-01-11  32.38  34.25  32.00  33.38  64954600.0          0.0          1.0
2001-01-12  33.56  33.81  31.81  32.13  51374500.0          0.0          1.0
2001-01-16  32.19  32.38  31.00  31.38  60301100.0          0.0          1.0

            Adj. Open  Adj. High   Adj. Low  Adj. Close  Adj. Volume
Date
2001-01-02  21.218170  22.040901  20.913967   21.473977   50342900.0
2001-01-03  20.831002  23.942171  20.831002   23.665623   78291900.0
2001-01-04  23.506607  24.460699  22.600912   23.368333   68769000.0
2001-01-05  23.548090  23.942171  21.951023   22.165348   44974700.0
2001-01-08  21.778180  22.338191  21.176688   22.082384   45070800.0
2001-01-09  22.490292  22.773754  22.040901   22.296709   40814400.0
2001-01-10  21.868059  23.077958  21.522373   22.815237   51494300.0
2001-01-11  22.386587  23.679450  22.123866   23.077958   64954600.0
2001-01-12  23.202404  23.375247  21.992505   22.213744   51374500.0
2001-01-16  22.255226  22.386587  21.432495   21.695216   60301100.0

In [28]:
merged_data = quandl.get(["WIKI/INTC","WIKI/GOOG","WIKI/GOOG"],start_date="2016-01-01", end_date="2016-12-31")
merged_data.head(2)

            WIKI/INTC - Open  WIKI/INTC - High  WIKI/INTC - Low  \
Date
2016-01-04             33.88             34.01            33.46
2016-01-05             33.96             34.00            33.53

            WIKI/INTC - Close  WIKI/INTC - Volume  WIKI/INTC - Ex-Dividend  \
Date
2016-01-04              33.99          27882190.0                      0.0
2016-01-05              33.83          16709510.0                      0.0

            WIKI/INTC - Split Ratio  WIKI/INTC - Adj. Open  \
Date
2016-01-04                      1.0              32.558531
2016-01-05                      1.0              32.635410

            WIKI/INTC - Adj. High  WIKI/INTC - Adj. Low  \
Date
2016-01-04               32.68346             32.154913
2016-01-05               32.67385             32.222182

                     ...             WIKI/GOOG - Low  WIKI/GOOG - Close  \
Date                 ...
2016-01-04           ...                    731.2577             741.84
2016-01-05           ...                    738.6400             742.58

            WIKI/GOOG - Volume  WIKI/GOOG - Ex-Dividend  \
Date
2016-01-04           3272776.0                      0.0
2016-01-05           1950691.0                      0.0

            WIKI/GOOG - Split Ratio  WIKI/GOOG - Adj. Open  \
Date
2016-01-04                      1.0                 743.00
2016-01-05                      1.0                 746.45

            WIKI/GOOG - Adj. High  WIKI/GOOG - Adj. Low  \
Date
2016-01-04                 744.06              731.2577
2016-01-05                 752.00              738.6400

            WIKI/GOOG - Adj. Close  WIKI/GOOG - Adj. Volume
Date
2016-01-04                  741.84                3272776.0
2016-01-05                  742.58                1950691.0

[2 rows x 24 columns]

In [60]:
data=quandl.get("SF1/INTC_EBIT_MRQ", authtoken="sLiqYvGFsXyiE98ysSrq")
data.head(2)

                  Value
Date
2001-06-30  220000000.0
2001-09-29  207000000.0

In [61]:
quandl.get("ZAR/INTC", authtoken="sLiqYvGFsXyiE98ysSrq").head(3)

,RATING_CNT_STRONG_BUYS,RATING_CNT_STRONG_BUYS_1M_AGO,RATING_CNT_STRONG_BUYS_2M_AGO,RATING_CNT_STRONG_BUYS_3M_AGO,RATING_CNT_BUYS,RATING_CNT_BUYS_1M_AGO,RATING_CNT_BUYS_2M_AGO,RATING_CNT_BUYS_3M_AGO,RATING_CNT_HOLDS,RATING_CNT_HOLDS_1M_AGO,...,RATING_MEAN_3M_AGO,TP_MEAN_EST,TP_MEDIAN_EST,TP_CNT_EST,TP_HIGH_EST,TP_LOW_EST,TP_STD_DEV_EST,TP_CNT_EST_REV_UP,TP_CNT_EST_REV_DOWN,LAST_REV_DATE
AS_OF,,,,,,,,,,,,,,,,,,,,,
2017-03-06,17.0,19.0,20.0,21.0,1.0,1.0,1.0,1.0,8.0,10.0,...,1.8,41.086,42.0,23.0,45.0,30.0,3.41,None,None,20170301.0

In [ ]:
#search all quandl code here:
#https://www.quandl.com/search-beta

In [62]:
quandl.get("AOS/INTC", authtoken="sLiqYvGFsXyiE98ysSrq").head(3)

            Article Sentiment  Impact Score
Date
2014-01-01              0.150        77.650
2014-01-02              0.345        79.571
2014-01-03              0.278        78.139

In [63]:
quandl.get("SF0/INTC_PB_MRY", authtoken="sLiqYvGFsXyiE98ysSrq").head(3) #[Price to Book Value]: Measures the ratio between [MARKETCAP] and [EQUITYUSD].

               Value
Date
2009-12-26  2.691882
2010-12-25  2.351720
2011-12-31  2.689573

In [101]:
data = quandl.get_table("ZACKS/CP", paginate=True,ticker="INTC")

'''
beta,per_end_month_nbr,sic_4_code,sic_4_desc,zacks_x_ind_code,zacks_x_ind_desc,
zacks_x_sector_code,zacks_x_sector_desc,zacks_m_ind_code,zacks_m_ind_desc,emp_cnt,market_val,
tot_revenue_f0,net_income_f0,pe_ratio_f1,pe_ratio_12m,peg_ratio,price_per_sales,price_book,
price_cash,roe_q0,roa_q0,pre_tax_margin_q0,net_margin_q0,zacks_oper_margin_q0,inv_turnover_q0,
curr_ratio_q0,quick_ratio_q0,debt_to_comm_equ_q0,iad,div_yield,shares_out,avg_vol_20d,bvps_f0,
diluted_eps_net_4q,per_end_date_qr0,eps_mean_est_qr0,eps_act_qr0,eps_amt_diff_surp_qr0,
eps_pct_diff_surp_qr0,per_end_date_fr1,eps_mean_est_fr1,per_end_date_fr2,eps_mean_est_fr2,
eps_act_fr0,rating_cnt_strong_buys,rating_cnt_buys,rating_cnt_holds,rating_cnt_sells,
rating_cnt_strong_sells,cons_recom_curr,cons_recom_7d_ago,held_by_insiders_pct,
held_by_institutions_pct,free_float

'''
data.head(1)

,m_ticker,ticker,comp_name,comp_name_2,exchange,currency_code,comp_desc,address_line_1,address_line_2,city,...,rating_cnt_strong_buys,rating_cnt_buys,rating_cnt_holds,rating_cnt_sells,rating_cnt_strong_sells,cons_recom_curr,cons_recom_7d_ago,held_by_insiders_pct,held_by_institutions_pct,free_float
None,,,,,,,,,,,,,,,,,,,,,
0,ITL,INTC,INTEL CORP,Intel Corporation,NSDQ,USD,Intel Corporation is one of the world's larges...,2200 MISSION COLLEGE BLVD,None,SANTA CLARA,...,17,1,8,0,2,1.89,1.82,0.09,66.53,4723.745

In [102]:
data.transpose().to_csv(path_or_buf='zacks_cp_dta.csv')

In [72]:
data.columns

Index([u'm_ticker', u'ticker', u'comp_name', u'comp_name_2', u'exchange',
       u'currency_code', u'comp_desc', u'address_line_1', u'address_line_2',
       u'city', u'state_code', u'country_code', u'post_code', u'phone_nbr',
       u'fax_nbr', u'email', u'comp_url', u'beta', u'per_end_month_nbr',
       u'sic_4_code', u'sic_4_desc', u'zacks_x_ind_code', u'zacks_x_ind_desc',
       u'zacks_x_sector_code', u'zacks_x_sector_desc', u'zacks_m_ind_code',
       u'zacks_m_ind_desc', u'emp_cnt', u'market_val', u'tot_revenue_f0',
       u'net_income_f0', u'pe_ratio_f1', u'pe_ratio_12m', u'peg_ratio',
       u'price_per_sales', u'price_book', u'price_cash', u'roe_q0', u'roa_q0',
       u'pre_tax_margin_q0', u'net_margin_q0', u'zacks_oper_margin_q0',
       u'inv_turnover_q0', u'curr_ratio_q0', u'quick_ratio_q0',
       u'debt_to_comm_equ_q0', u'iad', u'div_yield', u'shares_out',
       u'avg_vol_20d', u'bvps_f0', u'diluted_eps_net_4q', u'per_end_date_qr0',
       u'eps_mean_est_qr0', u'eps_act_qr0', u'eps_amt_diff_surp_qr0',
       u'eps_pct_diff_surp_qr0', u'per_end_date_fr1', u'eps_mean_est_fr1',
       u'per_end_date_fr2', u'eps_mean_est_fr2', u'eps_act_fr0',
       u'rating_cnt_strong_buys', u'rating_cnt_buys', u'rating_cnt_holds',
       u'rating_cnt_sells', u'rating_cnt_strong_sells', u'cons_recom_curr',
       u'cons_recom_7d_ago', u'held_by_insiders_pct',
       u'held_by_institutions_pct', u'free_float'],
      dtype='object')

In [78]:
data[['beta', 'emp_cnt', 'market_val', 'tot_revenue_f0',
       'net_income_f0', 'pe_ratio_f1', 'pe_ratio_12m', 'peg_ratio',
       'price_per_sales', 'price_book', 'price_cash', 'roe_q0', 'roa_q0',
       'pre_tax_margin_q0', 'net_margin_q0', 'zacks_oper_margin_q0']].transpose()

None                          0
beta                       1.01
emp_cnt               106000.00
market_val            168174.95
tot_revenue_f0         59387.00
net_income_f0          10316.00
pe_ratio_f1               12.71
pe_ratio_12m              13.08
peg_ratio                  1.51
price_per_sales            2.83
price_book                 2.55
price_cash                 8.02
roe_q0                    21.02
roa_q0                    12.01
pre_tax_margin_q0         21.78
net_margin_q0             17.37
zacks_oper_margin_q0      22.29

In [88]:
sf1_data=quandl.get(["SF1/INTC_CAPEX_MRQ",
                     "SF1/INTC_ASSETS_MRQ",
                     "SF1/INTC_REVENUE_MRQ",
                     "SF1/INTC_EQUITY_MRQ",
                     "SF1/INTC_GP_MRQ",
                     "SF1/INTC_NCFO_MRQ",
                     "SF1/INTC_DPS_MRQ",
                     "SF1/INTC_EPS_MRQ",
                     "SF1/INTC_EBIT_MRQ"
                     
                     ], authtoken="sLiqYvGFsXyiE98ysSrq")
sf1_data.head(2)

,SF1/INTC_CAPEX_MRQ - Value,SF1/INTC_ASSETS_MRQ - Value,SF1/INTC_REVENUE_MRQ - Value,SF1/INTC_EQUITY_MRQ - Value,SF1/INTC_GP_MRQ - Value,SF1/INTC_NCFO_MRQ - Value,SF1/INTC_DPS_MRQ - Value,SF1/INTC_EPS_MRQ - Value,SF1/INTC_EBIT_MRQ - Value
Date,,,,,,,,,
2001-06-30,-2.144000e+09,4.562400e+10,6.334000e+09,3.673800e+10,3.027000e+09,2.254000e+09,0.02,0.03,220000000.0
2001-09-29,-1.365000e+09,4.423100e+10,6.545000e+09,3.590200e+10,2.992000e+09,2.059000e+09,0.02,0.02,207000000.0

In [100]:
sf1_data.to_csv(path_or_buf='sf1_dta.csv')

In [89]:
sf0_data=quandl.get(["SF0/INTC_DE_MRY",
                     "SF0/INTC_RND_MRY",
                     "SF0/INTC_TANGIBLES_MRY",
                     "SF0/INTC_SHARESWA_MRY",
                     "SF0/INTC_TAXEXP_MRY",
                     "SF0/INTC_PB_MRY",
                     "SF0/INTC_NETINC_MRY",
                     "SF0/INTC_CASHNEQUSD_MRY",
                     "SF0/INTC_DEBTUSD_MRY",
                     "SF0/INTC_COR_MRY",
                     "SF0/INTC_CURRENTRATIO_MRY",
                     "SF0/INTC_DEBT_MRY",
                     "SF0/INTC_DILUTIONRATIO_MRY",
                     "SF0/INTC_LIABILITIESNC_MRY",
                     "SF0/INTC_BVPS_MRY",
                     "SF0/INTC_DEPAMOR_MRY",
                     "SF0/INTC_FCFPS_MRY",
                     "SF0/INTC_EBITDA_MRY",
                     "SF0/INTC_EPSDIL_MRY",
                     "SF0/INTC_NCFDEBT_MRY",
                     "SF0/INTC_NCFCOMMON_MRY"
                     ], authtoken="sLiqYvGFsXyiE98ysSrq")
sf0_data.head(2)

,SF0/INTC_DE_MRY - Value,SF0/INTC_RND_MRY - Value,SF0/INTC_TANGIBLES_MRY - Value,SF0/INTC_SHARESWA_MRY - Value,SF0/INTC_TAXEXP_MRY - Value,SF0/INTC_PB_MRY - Value,SF0/INTC_NETINC_MRY - Value,SF0/INTC_CASHNEQUSD_MRY - Value,SF0/INTC_DEBTUSD_MRY - Value,SF0/INTC_COR_MRY - Value,...,SF0/INTC_DEBT_MRY - Value,SF0/INTC_DILUTIONRATIO_MRY - Value,SF0/INTC_LIABILITIESNC_MRY - Value,SF0/INTC_BVPS_MRY - Value,SF0/INTC_DEPAMOR_MRY - Value,SF0/INTC_FCFPS_MRY - Value,SF0/INTC_EBITDA_MRY - Value,SF0/INTC_EPSDIL_MRY - Value,SF0/INTC_NCFDEBT_MRY - Value,SF0/INTC_NCFCOMMON_MRY - Value
Date,,,,,,,,,,,,,,,,,,,,,
2009-12-26,0.273139,5.653000e+09,4.867400e+10,5.557000e+09,1.335000e+09,2.691882,4.369000e+09,3.987000e+09,2.221000e+09,1.556600e+10,...,2.221000e+09,1.015836,3.800000e+09,7.504769,5.052000e+09,1.197589,1.059300e+10,0.77,1.893000e+09,-1.362000e+09
2010-12-25,0.278293,6.576000e+09,5.779500e+10,5.555000e+09,4.581000e+09,2.351720,1.146400e+10,5.498000e+09,2.115000e+09,1.513200e+10,...,2.115000e+09,1.025383,4.429000e+09,8.898290,4.638000e+09,2.067507,2.057400e+10,2.01,-1.340000e+08,-1.149000e+09

In [91]:
sf0_data.columns

Index([u'SF0/INTC_DE_MRY - Value', u'SF0/INTC_RND_MRY - Value',
       u'SF0/INTC_TANGIBLES_MRY - Value', u'SF0/INTC_SHARESWA_MRY - Value',
       u'SF0/INTC_TAXEXP_MRY - Value', u'SF0/INTC_PB_MRY - Value',
       u'SF0/INTC_NETINC_MRY - Value', u'SF0/INTC_CASHNEQUSD_MRY - Value',
       u'SF0/INTC_DEBTUSD_MRY - Value', u'SF0/INTC_COR_MRY - Value',
       u'SF0/INTC_CURRENTRATIO_MRY - Value', u'SF0/INTC_DEBT_MRY - Value',
       u'SF0/INTC_DILUTIONRATIO_MRY - Value',
       u'SF0/INTC_LIABILITIESNC_MRY - Value', u'SF0/INTC_BVPS_MRY - Value',
       u'SF0/INTC_DEPAMOR_MRY - Value', u'SF0/INTC_FCFPS_MRY - Value',
       u'SF0/INTC_EBITDA_MRY - Value', u'SF0/INTC_EPSDIL_MRY - Value',
       u'SF0/INTC_NCFDEBT_MRY - Value', u'SF0/INTC_NCFCOMMON_MRY - Value'],
      dtype='object')

In [94]:
#conda install --channel Quantopian package
import os
os.getcwd()

'/Users/parksoy/Desktop/GoogleDrive_Soyoung/Udacity_nanoDegree_MachineLearning/capstone/ML_for_TradingClass'

In [99]:
sf0_data.to_csv(path_or_buf='sf0_dta_def.csv')