In [11]:
import pandas as pd
df = pd.DataFrame({'A': 'foo bar foo bar foo bar foo foo'.split(),
                   'B': 'one one two three two two one three'.split()})
print("Original dataframe:")
print(df)

  
b_is_two_dataframe = pd.DataFrame(df.groupby('B').get_group('two').reset_index()).drop('index', axis = 1) 
#NOTE: the final drop is to remove the extra index column returned by groupby object
print('\nSub dataframe where B is two:')
print(b_is_two_dataframe)

b_is_two_dataframe_2 = pd.DataFrame(df.groupby('B').get_group('two').reset_index())
#NOTE: the final drop is to remove the extra index column returned by groupby object
print('\nafter Remove drop(index):')
print(b_is_two_dataframe_2)

b_is_two_dataframe_3 = df.groupby('B').get_group('two').reset_index()
print('\nif I just get reset_index:')
print(b_is_two_dataframe_3)

print type(df.groupby('B').get_group('two'))
df_selected=df.groupby('B').get_group('two')

Original dataframe:
     A      B
0  foo    one
1  bar    one
2  foo    two
3  bar  three
4  foo    two
5  bar    two
6  foo    one
7  foo  three

Sub dataframe where B is two:
     A    B
0  foo  two
1  foo  two
2  bar  two

after Remove drop(index):
   index    A    B
0      2  foo  two
1      4  foo  two
2      5  bar  two

if I just get reset_index:
   index    A    B
0      2  foo  two
1      4  foo  two
2      5  bar  two
<class 'pandas.core.frame.DataFrame'>

In [27]:
#Look at what reset_index does/ 
print df_selected.reset_index()
print df_selected.reset_index(drop=True)
print df_selected.reset_index().values
print type(df_selected.reset_index().values)

   index    A    B
0      2  foo  two
1      4  foo  two
2      5  bar  two
     A    B
0  foo  two
1  foo  two
2  bar  two
[[2 'foo' 'two']
 [4 'foo' 'two']
 [5 'bar' 'two']]
<type 'numpy.ndarray'>

In [40]:
#Look at what drop does
df_selected_resetindex=df_selected.reset_index()
df_selected_resetindex
print df_selected_resetindex.values
df_selected_index=df_selected.index
print df_selected_index
print type(df_selected_index)

[[2 'foo' 'two']
 [4 'foo' 'two']
 [5 'bar' 'two']]
Int64Index([2, 4, 5], dtype='int64')
<class 'pandas.indexes.numeric.Int64Index'>

In [24]:
df_selected_index.drop('index', axis = 1)

     A    B
0  foo  two
1  foo  two
2  bar  two

In [39]:
df_selected
df.drop(df_selected.index)

     A      B
0  foo    one
1  bar    one
3  bar  three
6  foo    one
7  foo  three

In [52]:
# combining series into dataframe
import pandas as pd
import numpy as np

s1 = pd.Series(np.random.randn(5),index=[1,2,4,5,6])
print s1

1   -0.793073
2   -0.179634
4   -0.552220
5   -1.380221
6    0.336484
dtype: float64

In [53]:

s2 = pd.Series(np.random.randn(5),index=[1,2,4,5,6])
print s2

1   -0.203970
2    1.684002
4   -0.294754
5    0.464824
6    0.401966
dtype: float64

In [57]:
pd.DataFrame(dict(s1 = s1, s2 = s2)).reset_index()

   index        s1        s2
0      1 -0.793073 -0.203970
1      2 -0.179634  1.684002
2      4 -0.552220 -0.294754
3      5 -1.380221  0.464824
4      6  0.336484  0.401966

In [56]:
#df=[s1,s2]
df=s1.to_frame().join(s2.to_frame())
print type(df)
#pd.DataFrame(dict(s1 = s1, s2 = s2)).reset_index()

ValueError: columns overlap but no suffix specified: RangeIndex(start=0, stop=1, step=1)

In [60]:
d={}
print type(d)

<type 'dict'>